.btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 7px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    transition-duration: .6s
}

.btn-primary {
    background: #61392c;
    color: rgb(255, 255, 255);
    border: 2px solid #c0fc7c;
}

.btn-primary:hover {
    background: #fff;
    color: #c0fc7c;
    border: 2px solid #c0fc7c;
}

.btn-outline-primary {
    background: #fff;
    color: #c0fc7c;
    border: 2px solid #c0fc7c;
}

.btn-outline-primary:hover {
    background: #c0fc7c;
    color: #fff;
    border: 2px solid #c0fc7c;
}

.btn-secondary {
    background: #fff;
    color: rgb(85, 85, 85);
    border: 2px solid #2E4C6D;
}

.btn-secondary:hover {
    background: #fff;
    color: #2E4C6D;
    border: 2px solid #2E4C6D;
}

.btn-outline-secondary {
    background: #fff;
    color: #2E4C6D;
    border: 2px solid #2E4C6D;
}

.btn-outline-secondary:hover {
    background: #2E4C6D;
    color: #fff;
    border: 2px solid #2E4C6D;
}